ignore
.DS_Store
.env
.vscode
.claude
node_modules/
dev/debug
cypress/downloads
cypress/videos
browserstack.json
*.traineddata
*.traineddata.gz
log
results
**/screenshots
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.vitest-attachments/
**/__screenshots__/
*.traineddata
*.traineddata.gz
settings.json
tmp
/build/
mcp/mcp.log

# scribe-ui
scribe-ui/basic-viewer/tauri/target/
scribe-ui/basic-viewer/tauri/dist/
scribe-ui/basic-viewer/tauri/gen/