ignore
.DS_Store
.env
.vscode
.claude
cloud-adapters
scrollview-web/app
scrollview-web/index.html
scrollview-web/example_data
scrollview-web/package-lock.json
scrollview-web/util
scrollview-web/draw.js
node_modules
dev
browserstack.json
*.traineddata
*.traineddata.gz
.github
.clinic
gui
tests
tmp
venv
robots.txt
settings.json
vitest.config.js
jsconfig.json
.eslintrc.json
.gitmodules
build-deno-compile.sh
js/font-parser/fonts
js/font-parser/test
js/font-parser/.mocharc.json
js/font-parser/package-lock.json
scribe-ui
user-docs
