ignore
.DS_Store
.env
.vscode
.claude
cloud-adapters
scrollview-web/app
scrollview-web/index.html
node_modules
dev
fonts_raw
browserstack.json
*.traineddata
*.traineddata.gz
.github
.clinic
gui
tests
tmp
venv
robots.txt
settings.json
karma.conf.cjs
jsconfig.json
.eslintrc.json
.gitmodules
build-deno-compile.sh