ignore
.DS_Store
.env
.vscode
node_modules/
dev/debug
cypress/downloads
cypress/videos
browserstack.json
*.traineddata
*.traineddata.gz
log
results
**/screenshots
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
*.traineddata
*.traineddata.gz
settings.json
tmp
basic-viewer/tauri/target/
basic-viewer/tauri/dist/
basic-viewer/tauri/gen/