name: Browser CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-22.04

    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        browser: ['ChromeHeadless', 'FirefoxHeadless']

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: npm install

    - name: Run Karma tests
      run: npm run test:module:browser
      env:
        KARMA_BROWSER: ${{ matrix.browser }}